.ort-lttp
    display: flex
    flex-grow: 0
    font-family: "c64"
    -webkit-user-select: none
    -webkit-user-drag: none
    -webkit-app-region: no-drag
    .inactive
        filter: grayscale(50%) brightness(50%)
    .maxed
        color: #61D361

.ort-lttp-items
    width: 295px
    height: 205px
    display: flex
    flex-wrap: wrap
    div
        position: relative
        top: 0
        left 0
        padding: 0px 10px 10px 0px
        img
            width: 32px
            height: 32px
            cursor: pointer
        span
            position: absolute
            top: 0
            right: 3px
    &.keysanity
        height: 235px
        div
            padding: 0px 10px 18px 0px

.ort-lttp-dungeons
    height: 100%
    font-size: 16px
    tbody
        tr
            td
                text-transform: uppercase
                padding: 1px 5px
                text-align: center
                text-shadow: 0 2px 0px black
                &.action
                    cursor: pointer

    img
        vertical-align: top
        
    
