@import "../../styles/variables.sass";

.ort-sidebar-profile
    width: 100%
    height: 100%
    background: $color-normal
    overflow: hidden
    box-shadow: 0 5px 0px $color-darkest
    border: 1px solid $color-darkest
    .ort-sidebar-profile-content
        height: 100% 
        padding-bottom: 50px
        overflow: auto
        &::-webkit-scrollbar
            width: 10px
            height: 10px
            background: $color-dark
            border-left: 1px solid $color-normal
        &::-webkit-scrollbar-thumb
            background: $color-light
