@font-face
    font-family: 'c64'
    src: url('vendor/fonts/c64.ttf')  format('truetype')

@font-face
    font-family: 'roboto'
    src: url('vendor/fonts/roboto/Roboto-Regular.ttf')  format('truetype')

@font-face
    font-family: 'roboto-medium'
    src: url('vendor/fonts/roboto/Roboto-Medium.ttf')  format('truetype')

@font-face
    font-family: 'roboto-bold'
    src: url('vendor/fonts/roboto/Roboto-Bold.ttf')  format('truetype')
