body
    font-family: Arial, Helvetica, Sans-Serif, Monospace
    font-size: 12px
    background: $color-background
    color: $color-font
    padding: 0
    border: 0
    margin: 0
    user-select: none
    overflow: hidden

img
    -webkit-user-select: none
    -webkit-user-drag: none
    -webkit-app-region: no-drag
    image-rendering: pixelated

h2
    font-size: 20px
    font-weight: bold
    padding-bottom: 10px
p
    font-size: 14px
    font-weight: normal
    padding-bottom: 10px

ul li
    font-size: 14px
    padding-bottom: 5px

div.ort-content
    padding-bottom: 20px

a
    color: $color-accent