body
    font-family: Arial, Helvetica, Sans-Serif, Monospace
    font-size: 12px
    background: $color-background
    color: $color-font
    padding: 0
    border: 0
    margin: 0
    user-select: none
    overflow: hidden

@font-face
    font-family: 'Retro'
    src: url('vendor/fonts/retro.ttf')  format('truetype')

@font-face
    font-family: 'cmd'
    src: url('vendor/fonts/cmd.ttf')  format('truetype')

@font-face
    font-family: 'c64'
    src: url('vendor/fonts/c64.ttf')  format('truetype')