@import '../../../../styles/variables.sass'

.ort-layout-classic
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    display: flex
    flex-grow: 1
    .ort-layout-classic-left
        display: block
        width: 250px
        flex-shrink: 0
        z-index: 999
    .ort-layout-classic-right
        display: flex
        flex-direction: column
        padding: 0px 10px
        flex-grow: 1
        padding-top: 25px
    .ort-layout-classic-broadcast
        position: fixed
        top: 0
        left: 0
        padding: 14px
        text-align: center
        font-size: 12px
        line-height: 0
        background: linear-gradient(360deg, $color-darker 0%, $color-darkest 100%)
        color: $color-font
        width: 100%
        min-width: 700px
        padding-left: 250px
    .ort-help
        position: absolute
        bottom: 10px
        right: 10px
        cursor: pointer
        font-size: 32px
        &:hover
            color: $color-accent
    &.broadcast
        padding-top: 0
        .ort-layout-classic-left
            display: none
        .ort-layout-classic-right
            padding: 0
        .ort-layout-classic-broadcast
            display: none
        .ort-help
            display: none