.ort-layout-classic
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    display: flex
    flex-grow: 1
    padding: 10px
    .ort-layout-classic-left
        display: block
        width: 250px
    .ort-layout-classic-right
        display: flex
        flex-direction: column
        padding: 0px 10px
        flex-grow: 1